 p {
     color: indianred;
     font-weight: bold;
 }

 #parrafo3 {
     color: indigo;
 }

 .colorPrincipal {
     color: lawngreen;
 }

 #cuadrado {
     color: black;
     width: 200px;
     height: 200px;
     background-color: blueviolet;
 }